* {
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;

    font-family: Arial;
}

.menu {
    height: 100%;
    width: 25%;
    
    top: 0;
    left: 0;
   
    background-color: #f1f1f1;
    float: left;
}

.menu a {
    display: block;
    font-size: 32px;
    padding: 30px 12px 30px 36px;
    text-decoration: none;
}

.menu a:hover {
    font-weight: bold;
    background-color: #ddd;
}

h3 {
    font-size: 32px;
    padding: 30px 12px 30px 36px;
    background-color:#d8d8d8;
}

.main {
    width:75%;
    
    display: inline-block;
    float: left;
    font-size: 24px;
    padding-top: 60px;
    text-align: center;
}

.main_lower {
    margin-top: 96px;
}

.bigButton {
    font-size: 32px;
}

#addEmployee {
    width: 100%;
    
    display: none;
    margin-top: 24px;
}

#empDetails {
    width: 100%;

    display: none;
    margin-top: 24px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}
